<footer>
    <div class="container">
        <div class="__footer">
            <div class="left">
                <div class="logo">
                    HCJ <span>CODER</span>
                </div>
                <h6>
                    We are a team of designers and developers that create high quality HTML template
                </h6>
                <div class="social-media">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <h6>
                    Design by HCJ coder
                </h6>
            </div>
            <div class="right">
                <div class="row">
                    <div class="col-6 col-xl-3">
                        <div class="title-footer">
                            Information
                        </div>
                        <div class="menu-footer">
                            <ul>
                                <li><a href="">Delivery</a></li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Secure Payment</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Sitemap</a></li>
                                <li><a href="">Stores</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="title-footer">
                            Custom Links
                        </div>
                        <div class="menu-footer">
                            <ul>
                                <li><a href="">Legal Notice</a></li>
                                <li><a href="">Prices Drop</a></li>
                                <li><a href="">New Products</a></li>
                                <li><a href="">Best Sales</a></li>
                                <li><a href="">Login</a></li>
                                <li><a href="">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="title-footer">
                            NewsLetter
                        </div>
                        <h6>You may unsubscribe at any moment. For that purpose, please find our contact info in the
                            legal notice.</h6>
                        <div class="email-footer">
                            <input type="text" placeholder="Enter your email here">
                            <button>Sign up</button>
                        </div>
                        <div class="app">
                            <a href=""><img src="img/app_store.png" alt=""></a>
                            <a href=""><img src="img/google_play.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="payment">
                            <a href=""><img src="img/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>