
<div id="scrollMenu" class="header-line">
    <div class="container-fluid">
        <div class="row row-align">
            <div class="col-xl-2">
                <div class="logo">
                    TONY <span>CODER</span>
                </div>
            </div>
            <div class="col-xl-4">
                <nav>
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">shop</a></li>
                        <li><a href="">pages</a></li>
                        <li><a href="">contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xl-4">
                <div class="search">
                    <input type="text" placeholder="Search at here...">
                    <button><i class="fal fa-search"></i></button>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="call-us">
                    <div class="img"><img src="img/call.png" alt=""></div>
                    <div class="info">
                        Call Us:<br>
                        <span>0395878068</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

